.smain_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 598px;
    left: 361px;
    top: 223px;
}

.pbox_wrapper {
    background-color: black;
}

/* .pcard{
    display: flex;
    flex-direction: column;
}

.prow{
    display: flex;
    flex-direction: row;
} */
/* .pbox1{
    order: 3;
} */
.scontent {
    width: 1198px;
    height: 589px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 18px;
    position: absolute;
    width: 1147px;
    height: 67px;
    left: -6px;
    top: 468px;
    background: #0F111A;
    border-radius: 4px;
}

.sinput {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 24px;
    gap: 625px;
    width: 1150px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #C0C2CC;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sinput_wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 352px;
    height: 27px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sinput_img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 94px;
    height: 27px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.stext_input {
    border: none;
    width: 246px;
    height: 27px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #C0C2CC;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.sbutton {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 9px 16px;
    gap: 8px;
    width: 189px;
    height: 48px;
    background: #ED3957;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    background: #ED3957;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    position: relative;
    left: -53px;
}

.sbutton_text {

    width: 157px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.stext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 901px;
    height: 256px;
    left: 111px;
    top: 0px;
}

.get_free {
    width: 901px;
    height: 192px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #0F111A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.details {
    width: 899px;
    height: 48px;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #5C5D66;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sbenefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    gap: 10px;

    width: 1191.97px;
    height: 182px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.slist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 42px;

    width: 1159.97px;
    height: 134px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sbenefit1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;

    width: 330px;
    height: 123px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border-right: 0.5px solid #C0C2CC;
    padding-right: 15px;

}

.bene1text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    width: 330px;
    height: 95px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.free {
    width: 315px;
    height: 0px;

    /* Header links */

    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Neutral/Black */

    color: #0F111A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.freep {

    width: 330px;
    height: 63px;

    /* Body/small subtext */

    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    /* Neutral/Black variant 2 */

    color: #5C5D66;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.sbenefit2 {
    border-right: 0.5px solid #C0C2CC;
    padding-right: 15px;
}

/* .divider1{
    border-right: 1px solid black;
    width: 2px;
} */