/* .root {
    height: 100%;
    margin: 94px 0;
}

.pmain_wrapper {
    background-color: green !important;
    width: 80%;
    margin: 0 auto;


}

.right_wrapper {
    background-color: red;
    width: 60px;
    height: 10px;
}

.left_wrapper {
    background-color: black;
    width: 60px;
    height: 10px;
}

.content_wrapper {
    background-color: red;
    padding: 70px;
    flex: 1;
    margin-top: 70px;
} */