.main_wrapper {
    width: 100%;
    height: 69px;
    background: #0F111A;

}

.own {

    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 5px;
}

.own_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 20px;
}

.own_button {
    /* button */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 10px;
    width: 101px;
    height: 33px;
    background: #FFA6B5;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    border: none;
    cursor: pointer;
}

.btn_text {
    width: 77px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #0F111A;
    flex: none;
    order: 0;
    flex-grow: 0;
}